body {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

html {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  line-height: 1.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

html {
  font-size: 100%;
}
@media screen and (max-width: 374px) {
  html {
    font-size: 80%;
  }
}

.presentation__localisation {
  color: #363636;
}
.presentation__intro p {
  color: #363636;
  font-size: 1.1rem;
  font-weight: 300;
}

.footer__link {
  color: whitesmoke;
}
.footer__prix {
  font-weight: bold;
}

.plat__commentaire {
  font-size: 0.95rem;
}
.plat__prix {
  font-weight: bold;
}

.heading__logo {
  font-family: "Shrikhand", cursive, sans-serif;
  font-weight: normal;
}
.heading__logo--header {
  font-size: 2rem;
}
.heading__logo--footer {
  font-size: 1.2rem;
  color: whitesmoke;
}
.heading__primary--menu {
  font-family: "Shrikhand", cursive, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
}
.heading__secondary--home {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1.8rem;
}
.heading__secondary--menu-groupe {
  color: #363636;
  font-size: 1rem;
  font-weight: normal;
}
.heading__tertiary--plat-menu {
  font-weight: bold;
  font-size: 1.1rem;
}

.btn {
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 1.1rem 1.3rem;
  cursor: pointer;
  transition: 0.2s;
  color: #FFF;
  text-align: center;
}
.btn:hover {
  background-image: linear-gradient(#ff88de, #9b63df);
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.5);
}
.btn--menu {
  padding: 1.1rem 3rem;
}

.like {
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like__icon {
  position: absolute;
  font-size: 2rem;
}
.like__icon--nobg {
  z-index: 5;
  transition: all 1000ms;
}
.like__icon--nobg:hover {
  opacity: 0;
}
.like__icon--nobg:hover + .fas {
  opacity: 1;
}
.like__icon--bg {
  color: black;
  opacity: 0;
  color: transparent;
  background-clip: content-box;
  background: -webkit-linear-gradient(top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  transition: all 1000ms;
}

.banner {
  box-sizing: border-box;
  margin: auto;
}
.banner__img {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.groupe {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .groupe {
    width: 31%;
  }
}
.groupe__titre {
  margin-top: 1.5rem;
  margin-bottom: 1.4rem;
  position: relative;
}
.groupe__titre::after {
  content: "";
  width: 2.4rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}
.groupe--1 {
  animation: groupe-on 300ms cubic-bezier(0.33, -0.75, 0.27, 1.53) 100ms both;
}
.groupe--2 {
  animation: groupe-on 300ms cubic-bezier(0.33, -0.75, 0.27, 1.53) 200ms both;
}
.groupe--3 {
  animation: groupe-on 300ms cubic-bezier(0.33, -0.75, 0.27, 1.53) 300ms both;
}

@keyframes groupe-on {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.plat {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #FFF;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.4);
}
.plat__txt {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 1.4rem 0.7rem 0.5rem;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat__nom {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat__commentaire {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat__prix {
  display: flex;
  align-items: flex-end;
  padding: 0 1.4rem 0.7rem 0.5rem;
}
.plat__validation {
  background-color: #99E2D0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  transition: all 700ms;
  overflow: hidden;
}
.plat__icon {
  background-color: #99E2D0;
  color: #99E2D0;
  font-size: 1rem;
  border-radius: 50px;
  padding: 0.3rem;
  background-color: #FFF;
  transition: transform 400ms 100ms;
}
.plat:hover .plat__validation {
  width: 3.5rem;
}
.plat:hover .plat__icon {
  animation: rotate 0.6s;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
input {
  border: none;
  outline: 0;
  color: #363636;
  background: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  width: 9rem;
}

.load {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#f6f6f6 40%, #99E2D0);
  position: fixed;
  animation: loader-off 0.01s 2s both;
  z-index: 100;
  top: 0;
}
.load__letter {
  font-family: "Shrikhand";
  font-size: 5vw;
  padding: 1vw;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loader 1s linear infinite;
}
.load__letter--1 {
  animation-delay: 0.1s;
}
.load__letter--2 {
  animation-delay: 0.2s;
}
.load__letter--3 {
  animation-delay: 0.3s;
}

@keyframes loader {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.1);
  }
}
@keyframes loader-off {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.icon__header {
  position: absolute;
  top: 34%;
  left: 0;
  color: #363636;
  font-size: 1.3rem;
  padding-left: 1.25rem;
}
.icon--localisation {
  line-height: 1.2;
  display: inline-block;
  font-style: normal;
  margin-right: 1rem;
}
.icon__footer {
  width: 1.5rem;
  margin-right: 0.3rem;
}

.etape__icon {
  color: #7d7d7d;
  padding-left: 0.5rem;
}

.tag__new {
  color: #008564;
  background-color: #99E2D0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1.2rem;
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.4);
  margin-bottom: 1.25rem;
  position: relative;
  background-color: #FFF;
}
@media screen and (min-width: 768px) {
  .card {
    width: 48%;
  }
}
.card__img {
  width: 100%;
  height: 172px;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0.7rem;
}
.card__description__txt {
  display: flex;
  flex-direction: column;
}

.etape {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.4rem;
  margin-left: 0.7rem;
}
.etape__nbr {
  color: #FFF;
  background-color: #9356DC;
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  transform: translateX(-50%);
}
.etape__txt {
  padding-left: 1.4rem;
}
.etape:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.etape:hover .etape__icon {
  color: #9356DC;
}
@media screen and (min-width: 992px) {
  .etape {
    width: 30%;
  }
}

.header__logo {
  text-align: center;
  padding: 0.7rem 0rem;
  margin: auto;
}
.header__logo--menu {
  position: relative;
}

.footer {
  background-color: #363636;
  padding: 1.7rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}
.footer h1 {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
    width: 100%;
    flex-direction: row;
  }
}
.container--intro {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
@media screen and (min-width: 768px) {
  .container--restaurants {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
  }
}
.container__menu {
  background-color: whitesmoke;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2rem 1.3rem 2.6rem 1.3rem;
}
@media screen and (min-width: 992px) {
  .container__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: auto;
  }
}
.container__menu--bnt {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2.4rem;
}

.presentation__localisation {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ebebeb;
  box-shadow: inset 0 5px 6px -5px rgba(53, 53, 53, 0.5);
}
.presentation__intro {
  text-align: center;
  background-color: whitesmoke;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.presentation__intro h2 {
  text-align: center;
  padding-bottom: 0;
}
.presentation__intro p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.fonctionnement {
  padding: 3rem 1.3rem 4rem 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .fonctionnement {
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement h2 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement .list {
    display: flex;
    justify-content: space-between;
  }
}

.restaurants {
  padding: 3rem 1.3rem 4rem 1.3rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants h2 {
    width: 100%;
  }
}

.menu {
  margin-top: -3.3rem;
}
.menu__nom-restaurant {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 1rem;
  padding-bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
