.btn {
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 1.1rem 1.3rem;
  cursor: pointer;
  transition: 0.2s;
  color: #FFF;
  text-align: center;
}
.btn:hover {
  background-image: linear-gradient(#ff83dd, #985ede);
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.5);
}

.icon-like {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.icon-like--vide {
  font-size: 1.5rem;
  position: absolute;
}
.icon-like--plein {
  font-size: 1.5rem;
  position: absolute;
}

.footer {
  background-color: #353535;
  color: #f6f6f6;
  padding: 1.7rem;
}
.footer h1 {
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 1rem;
}
.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1.8rem;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  line-height: 1.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
}

.presentation__localisation {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #eaeaea;
  box-shadow: inset 0 5px 6px -5px rgba(53, 53, 53, 0.5);
  color: #353535;
}
.presentation__localisation i {
  line-height: 1.2;
  display: inline-block;
  font-style: normal;
  margin-right: 1rem;
}
.presentation__localisation span {
  font-weight: 700;
}
.presentation__intro {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.presentation__intro h2 {
  text-align: center;
  padding-bottom: 0;
}
.presentation__intro p {
  color: #353535;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.fonctionnement {
  padding: 3rem 1.3rem 4rem 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fonctionnement__nbr {
  background-color: #9356DC;
  border-radius: 25px;
  width: 2rem;
  height: 2rem;
}
.fonctionnement .etape {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.4rem;
  margin-left: 0.7rem;
}
.fonctionnement .etape__nbr {
  color: #FFF;
  background-color: #9356DC;
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  transform: translateX(-50%);
}
.fonctionnement .etape__icon {
  color: #7e7e7e;
  padding-left: 0.5rem;
}
.fonctionnement .etape__txt {
  padding-left: 1.4rem;
}
.fonctionnement .etape:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.fonctionnement .etape:hover .etape__icon {
  color: #9356DC;
}

.restaurants {
  padding: 3rem 1.3rem 4rem 1.3rem;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1.2rem;
  box-shadow: 0rem 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.4);
  margin-bottom: 1.25rem;
  position: relative;
  background-color: #FFF;
}
.card__img {
  width: 100%;
  height: 172px;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}
.card__new {
  color: #008766;
  background-color: #99e2d0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0.7rem;
}
.card__description__txt {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
