@mixin tablet{
    @media screen and (min-width: mapget($breakpoints, md)){
        @content;
    }
}

@mixin display{
    display: flex;
    justify-content: center;
}

@mixin box-shadow($opacity: 0.4){
    box-shadow: 0rem 0.3rem 0.6rem 0rem rgba($color-txt-primary, $opacity)
}

@mixin radius($radius: 1.2){
    border-radius: $radius + rem;
}

@mixin gradient {
    background-color: linear-gradient($color-secondary,$color-primary);
}

@mixin menu-on($delay){
    animation: groupe-on 300ms cubic-bezier(.33,-0.75,.27,1.53) $delay both;
}

@mixin ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}