$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-txt-primary: #000;
$color-txt-secondary: #FFF;

$color-bg-localisation: #eaeaea;
$color-light: #f6f6f6;
$color-dark: #353535;
$color-icon: #7e7e7e;
$color-new: #008766;
$color-new-light: #99e2d0;


$breakpoints: (
  xs: 280px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  large: 1200px,
  xxl: 1400px
);