$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-white: #FFF;
$color-black: rgb(0, 0, 0);


$color-light: lighten($color-black, 96%);
$color-medium: lighten($color-black, 92%);
$color-dark: lighten($color-black, 21%);
$color-icon: lighten($color-black, 49%);

$cursor: pointer;
$radius: 1.2;

$breakpoints: (
  xs: 374px,
  s: 768px,
  md: 992px,
  l: 1024px,
  xl: 1920px
);

