.container{
    @media screen and (min-width: 768px){
        max-width: 1280px;
        width: 100%;
        flex-direction: row;
    }
    &--intro{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    &--restaurants{
        @media screen and (min-width: 768px){
            @include space-between;
            flex-wrap: wrap;
            margin: auto;
        }
    }
    &__menu{
        background-color: $color-light;
        border-radius: 2.5rem 2.5rem 0 0;
        padding: 2rem 1.3rem 2.6rem 1.3rem;
        @media screen and (min-width: 1024px) {
            @include space-between;
            flex-wrap: wrap;
            max-width: 1280px;
            margin: auto;
        }
        &--bnt{
            width: 100%;
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 2.4rem;
        }
    }
}