.footer{
    background-color: $color-dark;
    padding: 1.7rem;
    @include responsive(map-get($breakpoints, s)){
        @include display;
    }
    h1{
        padding-bottom: 1rem;
    }
    li{
        height: 48px;
    }
}
