.header__logo{
    text-align: center;
    padding: 0.7rem 0rem;
    &--menu{
        position: relative;
    }
    &--icon{
        position: absolute;
        top: 34%;
        left: 0;
        color: $color-dark;
        font-size: 1.3rem;
        padding-left: 1.25rem;
    }
}