.card{
    @include column;
    box-sizing: border-box;
    @include radius;
    @include box-shadow;
    margin-bottom: 1.25rem;
    position: relative;
    background-color: $color-white;
    @include responsive(map-get($breakpoints, s)){
        width: 48%;
    }    
    &__img{
        width: 100%;
        height: 172px;
        object-fit: cover;
        border-radius: 1.2rem 1.2rem 0 0;
    }
    &__description{
        @include space-between;
        align-items: center;
        padding: 1.25rem 0.7rem;
        &__txt{
        @include column;
        }
        
    }
}