.etape{
    @include display;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $color-light;
    @include box-shadow(0.2);
    @include radius;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.4rem;
    margin-left: 0.7rem;
    &__nbr{
        color: $color-txt-secondary;
        background-color: $color-primary;
        border-radius: 100%;
        width: 1.4rem;
        height: 1.4rem;
        font-weight: normal;
        @include display;
        align-items: center;
        font-size: 0.9rem;
        transform: translateX(-50%);
    }
    &__icon{
        color: $color-icon;
        padding-left: 0.5rem;
    }

    &__txt{
        padding-left: 1.4rem;
    }
    &:hover{
        background-color: rgba($color-primary, 0.15);
    }
    &:hover .etape__icon{
        color: $color-primary;
    }
    @media screen and (min-width: 992px) {
        width: 30%;
    }    
}