.icon-like{
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 25%;
    right: 0rem;
    &--vide{
        font-size: 1.25rem;
    }
    &--plein{
        font-size: 1.25rem;
        visibility: visible;
        &:active{
            visibility: visible;
            @include gradient;
        }
    }
}
