.icon-like{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    &--vide{
        font-size: 1.5rem;
        position: absolute;
    }
    &--plein{
        font-size: 1.5rem;
        position: absolute;
    }
}
