.load{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#f6f6f6 40%, #99E2D0);
  position: fixed;
  animation: loader-off .01s 2s both;
  z-index: 100;
  top: 0;
  &__letter{
    font-family: 'Shrikhand';
    font-size: 5vw;
    padding: 1vw;
    background: linear-gradient($color-secondary 0%, $color-primary 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
    animation: loader 1s linear infinite;
    &--1{
       animation-delay: 0.1s
    }
    &--2{
      animation-delay: 0.2s
    }
    &--3{
      animation-delay: 0.3s
    }
  }
}
  
  @keyframes loader{
    0%,
    50%,
    100%{
      transform: scale(1);
    }
    25%{
      transform: scale(0.6);
    }
    75%{
      transform: scale(1.1);
    }
  }

  @keyframes loader-off {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 